# containers section defines what containers to build
containers:

  # This is either a local path, a Git repo URI, or a list of paths/URIs
  # to load your own basic definition files; they can then be used in framework.definition below
  # Single path: extra_basics: /tmp/extrabasics
  # Multiple paths: extra_basics: [/tmp/extrabasics1, /tmp/extrabasics2, https://github.com/user/repo.git]
  #extra_basics: /tmp/extrabasics
  
  # This section builds base containers in containers/basic
  basic:
    # you get opencfd-openfoam.sif and openmpi-4.1.5-ubuntu-24.04.sif from the following entry
    opencfd-openfoam: # base container identifier
      os:
        distro: ubuntu # the only supported distro atm for this specific combination of settings
        version: 24.04 # needs to be recent
      mpi:
        implementation: openmpi # there must be an openmpi.def in basic/ folder
        version: 4.1.6 # recommended to match host MPI at least in major version number
      framework:
        definition: com-openfoam # org-openfoam, and foam-extend also supported, see basic/ for more
        version: 2312 # specific version number for the target fork
        git_ref: default  # will cause installation from binary packages (specific to com-openfoam)
    # you get openfoam-hpctoolkit.sif from the following entry which has both hpctoolkit and OpenFOAM:
    #openfoam-hpctoolkit:
    #  os:
    #    distro: ubuntu
    #    version: 24.04
    #  mpi:
    #    implementation: openmpi
    #    version: 4.1.5
    #  framework:
    #    - definition: com-openfoam # org-openfoam, and foam-extend also supported, see basic/ for more
    #      version: 2312
    #      git_ref: default
    #    - definition: hpctoolkit
    #      version: 2024.01.99-next
    # you get foam-extend.sif from the following entry
    #    foam-extend:
    #      os:
    #        distro: ubuntu
    #        version: 24.04
    #      mpi:
    #        implementation: openmpi
    #        version: 4.1.5
    #      framework:
    #        definition: foam-extend
    #        version: 5.0
    #        git_ref: master # optional (default: default)
  # This section builds final containers in containers/projects
  projects:
    # you get test-master.sif and test-dev.sif from the following entry
    test:
      base_container: opencfd-openfoam # what base container to build the project against (from containers.basic above)
      definition: projects/test.def # path to container definition file (relative to CWD)
      build_args: # case-insensitive, optional build arguments for apptainer
        branch:
          - master  # will be passed as `--build-arg BRANCH=master` to `apptainer build`
          #- dev  # will be passed as `--build-arg BRANCH=master` to `apptainer build`
        # environment secrets start with env_
        # these are accessible then in definition files as their values; eg. $GITHUB_TOKEN
        # but they do not persist in the container. they are only used in the build phase
        #env_github_secret: GITHUB_TOKEN
    # you get extend-test.sif from the following entry
    #extend-test:
    #  base_container: foam-extend
    #  definition: projects/extend-test.def

# pull section sets pull paramters
pull:
  try_to_pull: true
  protocol: "oras" # docker, or library as Pull protocol
  scope: "ghcr.io/foamscience" # so oras://ghcr.io/foamscience/<container-name>:latest is used

# OPTIONAL: Testing configuration (use --test flag to enable)
#testing:
#  enabled: false  # Disabled by default
#  fail_fast: true  # Stop on first test failure
#  tests:
#    - type: command
#      name: verify_version
#      command: "hpcrun --version"
#      expect_success: true
#    - type: file_exists
#      name: check_apps_json
#      path: "/apps.json"

# OPTIONAL: Security scanning configuration (use --security-scan flag to enable)
#security:
#  enabled: false  # Disabled by default, opt-in via CLI flag
#  scanner: trivy  # or grype
#  fail_on_critical: false  # Don't fail build by default
#  fail_on_high: false
#  ignore_unfixed: true
#  report_path: security-reports/

# OPTIONAL: Size analysis configuration (use --analyze-size flag to enable)
#size_analysis:
#  enabled: false  # Disabled by default
#  track_history: true
#  report_path: size-reports/
