name: OpenFOAM-apptainer
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Tmate debugging session'
        required: false
        default: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up MPI, Apptainer and uv
        run: |
          sudo add-apt-repository -y ppa:apptainer/ppa
          sudo apt-get update
          sudo apt-get install -y apptainer libopenmpi-dev
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Get libopenmpi-dev version
        id: get_mpi_version
        run: |
          mpi_version=$(dpkg-query -W -f='${Version}' libopenmpi-dev | cut -f1 -d'-')
          echo "Setting MPI version to: $mpi_version"
          sed -i "s/version: 4.1.5/version: $mpi_version/g" config.yaml

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
        with:
          detached: true

      - name: Force local building if last commit is not tagged as docs
        if: "!startsWith(github.event.head_commit.message, 'docs:')"
        run: |
          sed -i 's/try_to_pull:.*/try_to_pull: false/g' config.yaml

      - name: Build containers
        run: |
          uv sync
          uv run hpctainers

      - name: Run test MPI application with host and container MPIs
        run: |
          mpi_out1=$(mpirun -n 2 apptainer run --sharens containers/projects/test-master.sif '/opt/OMPIFoam/ompiTest')
          mpi_out2=$(apptainer run containers/projects/test-master.sif 'mpirun -n 2 /opt/OMPIFoam/ompiTest')
          out1=$(echo -n $mpi_out1 | fold -w1 | sort | tr -d '\n')
          out2=$(echo -n $mpi_out2 | fold -w1 | sort | tr -d '\n')
          if [ "$out1" != "$out2" ]; then
            echo "Outputs are not identical"
            echo "Output 1: $mpi_out1"
            echo "Output 2: $mpi_out2"
            exit 1
          else
            echo "Outputs are identical"

      - name: Upload log files on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: failing-log-container-files
          path: |
            **/*.log
            **/*.sif
